
.cart-title{
   font-size: 35px;
   font-weight: 200;
   
}

span{
   /* beautifoul green color */
    color: #19A974;
}

/* .products-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.products{
   height: 70vh;
   width: 95%;
   margin: 10px;
   
   border: 1px solid gray; 
   background-color: whitesmoke;
} */


