/* footer property */
.footer{
    /* background-color:#19A974 ; */
    /* this color in rgb is:rgb(25,169,116) this amazing green :)*/
    background-color: rgb(51, 51, 51);
    margin-top: 15px;
   }
   
   .footer-text{
     font-weight: 350;
     font-size: 30px; 
     padding: 25px;
     margin: 0;
   }
   
   .description-footer-bottom{
     font-size: 20px;
     color: rgb(207, 207, 207);
   }
   
   .footer-description-top{
     font-size: 25px;
     color: white;
   }
   
   .author-name{
     color: #19A974;
     font-size: 25px;
   }
   
   .main-container{
     /* set container margins:(all sides) */
     margin: 45px;
   }